<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<% if @task.completed %>
    ☑ this task is completed !
  <% else %>
    [ ] this task is not completed yet !
<% end %>
<p><%= link_to 'edit task', edit_task_path %></p>
<p><%= link_to 'back to list', tasks_path %></p>
